@media only screen and (max-width: 600px) {

	

	.TextTitle,
	.TextScreenLeft,
	.TextInstruction,
	.TextTex,
	.TextScreenCloze {
		position: static !important;
		width: auto !important;
		padding: 0px !important;


		box-sizing: border-box;
		height: auto !important;
		border: 0px solid black;

		margin: 15px;

		transform: initial !important;
	}

	.TextSprechblase {
		position: relative;
		left: 15px !important;
		top: auto !important;
	}

	.TextTitle,
	.TextScreenLeft,
	.TextTex .TextInner {
		position: static !important;
		top: inherit !important;
		transform: initial !important;
	}

	.TextFreePos {
		/*position: static !important;*/
		width: auto !important;
		padding: 0px !important;

		box-sizing: border-box;
		border: 0px solid black;

		margin-top: 15px;
		margin-bottom: 15px;


		margin-left: 15px;
		margin-right: 15px;

		/*
		padding-left: 15px;
		padding-right: 15px;
		*/

		transform: initial !important;
	}


	.TextPopup {
		/* left: auto !important; */
		left: 50% !important;
		top: 50% !important;
		transform: translateX(-50%) translateY(-50%);
		margin: 5px;
		width: 85%;
	}

	

	.GraphicFreePos,
	.GraphicLeft,
	.GraphicRight {

		max-width: 100% !important;
		border: 0px solid red;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.GraphicFreePos img,
	.GraphicLeft img,
	.GraphicRight img {
		max-width: 100%;
	}
}

/* Zusatz CSS-Regeln für die Bildschirmbreite unter 600px und bestimmte Seiten */

@media (max-width: 600px) {

    .navBr {
		width: 24px !important;
		height: 24px !important;
		background-image: url(../../images/btn_back_small_01.png) !important;

	}

	.navBv {
		width: 24px !important;
		height: 24px !important;
		background-image: url(../../images/btn_next_small_01.png) !important;

	}

	.video {
		width: 100%;
		max-width: 100%;
		height: 100vh;
	}




	   .frames * {
		top: 0px !important;
		left: 0px !important;
		border: 0px !important;
	   }


       [class*="img-fluid"].g1 {
                width: 100vw !important;
                height: 50vh !important;


            }

            .but2 {
                left: 190px !important;
                top: 780px !important;
                display: none !important;

                /* Zentriert das Element horizontal */

                /* Verschiebt das Element um die Hälfte seiner eigenen Breite nach links */
            }

            .but1 {
                left: 150px !important;
                top: 780px !important;
                display: none !important;

                /* Zentriert das Element horizontal */

                /* Verschiebt das Element um die Hälfte seiner eigenen Breite nach links */
            }

            .step.active {
                display: block;
                position: fixed;
                top: 0px !important;
                left: 280px !important;
                width: 100px !important;
                height: 45px !important;
                z-index: 9999;
                border: 50% !important;
                border-radius: 50% !important;
                padding-right: 15px;
                padding-left: 15px;

            }

            .acco {
                position: fixed !important;
                top: 0px !important;
                left: 365px !important;

                z-index: 999;
                font-size: 22px !important;
            }

            .st {
                font-size: 22px !important;

            }

            .g2,
            .g3,
            .g4,
            .g5 {
                display: none !important;
            }

}
