
.TextTitle {
	position: absolute;
	left: 150px;
	top: 144px;
	line-height: 120%;
	color: #333333;
	z-index: 500;
}



.TextTitleRight {
	position: absolute;
	right: 30px;
	top: 50px;
	width: 467px;
	line-height: 120%;

	color: #333333;
	z-index: 500;
}




.TextFreePos {
	position: absolute;
	left: 30px;
	top: 100px;
	line-height: 120%;
	font-weight: normal;
	border: dotted 0px #FF00FF;
	z-index: 80;
	box-sizing: border-box;
}

.TextScreenLeft {
	position: absolute;
	left: 150px;
	top: 181px;
	width: 467px;
	font-weight: normal;
	line-height: 120%;
	border: dotted 0px #FF00FF;
	z-index: 80;
}

.TextScreenRight {
	position: absolute;
	right: 30px;
	top: 100px;
	width: 467px;
	font-weight: normal;
	line-height: 120%;
	border: dotted 0px #FF00FF;
	z-index: 80;
}

.TextScreenCloze {
	position: absolute;
	left: 30px;
	top: 77px;
	width: 467px;
	font-weight: normal;
	border: dotted 0px #FF00FF;
	line-height: 200%;
	z-index: 80;
}



.TextSprechblase {
	position: absolute;
	left: 30px;
	top: 100px;
	font-weight: normal;
	box-sizing: border-box;
	z-index: 80;
}

.TextSprechblase .TextInner {
	transform: none !important;
}


.TextLabel {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;

	font-size: 11px;
	font-weight: normal;
	line-height: 120%;
	border: dotted 0px #FF00FF;
	z-index: 80;
}


.TextPopup {
	position: absolute;
	left: 50%;
	top: 150px;
	width: 424px;
	font-size: 14px;
	padding: 20px;
	font-weight: normal;
	background-color: #ffffff;
	border: 1px solid #333333;
	line-height: 120%;
	z-index: 100000;
	/* [SK, 2016/09/24]: verhindert, dass Popup mit dem Padding waechst: */
	box-sizing: border-box;

	border: 3px solid transparent;

}




.TextInstruction {
	position: absolute;
	left: 30px;
	top: 550px;
	font-weight: normal;
	width: 467px;
	z-index: 80;
}

.TextSprechblaseLeft {
	position: absolute;
	left: 30px;
	top: 53px;
	width: 350px;
	line-height: 120%;
	color: #333333;
	visibility: hidden;
	z-index: 12;
}

.TextSprechblaseRight {
	position: absolute;
	left: 30px;
	top: 53px;
	width: 350px;
	line-height: 120%;
	color: #333333;
	visibility: hidden;
	z-index: 12;
}



/* **********************************   Grafiktypen   ************************************************************** */

.GraphicScreen {
	position: absolute;
	left: 47px;
	top: 87px;
	z-index: 10;
}

.GraphicFreePos {
	position: absolute;
	top: 0px;
	z-index: 10;
}


.GraphicLeft {
	position: absolute;
	left: 30px;
	top: 150px;
	z-index: 10;
}

.GraphicRight {
	position: absolute;
	right: 30px;
	top: 177px;
	z-index: 10;
}


